{% extends 'menu.html' %}

{% import 'formhelper.html' as formhelper %}
{% block content %}

<p>This page is mainly for debugging, at least for now.</p>

Pick a league: <form method="post" action="showaimatchpaircount.py">{{formhelper.listtodropdown('leaguename', leaguenames)}}
<input type="submit" value="Reload" />
</form>

{#
<h3>AI Indexes</h3>

<table cellpadding="3" border="1">
<tr><td>index</td><td>ai name</td><td>ai version</td></tr>
{% for index in indextoai.keys() %}
<tr><td>{{index}}</td><td>{{indextoai[index].ai_name}}</td><td>{{indextoai[index].ai_version}}</td></tr>
{% endfor %}
</table>
#}

<h3>Attributes of league '{{league.league_name}}'</h3>

<table cellpadding="3" border="1">
<tr><td class='tablehead'>Map</td><td>{{league.map_name}}</td></tr>
<tr><td class='tablehead'>Mod</td><td>{{league.mod_name}}</td></tr>
<tr><td class='tablehead'>Options</td><td>
{% for option in league.options %}
{{option}} 
{% endfor %}
&nbsp;</td></tr>
</table>

<h3>AI pair match count</h3>

<table cellpadding="3" border="1">
<tr><td class='tablehead'>(matches finished) / ( matches finished + matches queued)</td>
   {% for inneraiindex in range(numais) %}
      <td class='tablehead'>{{indextoai[inneraiindex].ai_name}} {{indextoai[inneraiindex].ai_version}}</td>
   {% endfor %}
{% for outeraiindex in range(numais) %}
   <tr><td class='tablehead'>{{indextoai[outeraiindex].ai_name}} {{indextoai[outeraiindex].ai_version}}</td>
   {% for inneraiindex in range(numais) %}
      <td {% if aipairfinishedcount[outeraiindex][inneraiindex] >= nummatchesperaipair  %}class='success'{% endif %}>{{aipairfinishedcount[outeraiindex][inneraiindex]}} / {{aipairqueuedmatchcount[outeraiindex][inneraiindex] + aipairfinishedcount[outeraiindex][inneraiindex]}}</td>
   {% endfor %}
   </tr>
{% endfor %}
</table>

{% endblock content %}

