{% extends 'menu.html' %}

{% import 'formhelper.html' as formhelper %}
{% block title %}AILadder - View AI {{ai.ai_name}} {{ai.ai_version}}{% endblock title %}
{% block content %}

<p>This page can configure the options compatible with one ai</p>
<p>For example, if it can run when cheating is allowed, then add the option 'cheatingallowed', or, if it can run when cheating is banned, then add the option 'cheatingequalslose'.</p>

<table padding='3'>
<tr><td>Compatible options</td><td></td></tr>

{% for option in ai.allowedoptions %}
   <tr>
   <td>{{option.option_name|e}}</td>
   <td><a href='deleteoptionfromai.py?ainame={{ai.ai_name|e}}&aiversion={{ai.ai_version|e}}&aioption={{option.option_name|e}}'>Remove option</a></td>
   </tr>
{% endfor %}
</table>

{% if showform %}
   <p />
   <hr />
   <p />

   <h2>Add new compatible options:</h2>

   <form action='addoptiontoai.py' method='post'>
   <table padding='3'>
   <tr><td>Option to add:</td><td>{{formhelper.listtodropdown( 'aioption', potentialoptions )}}</td></tr>
   <tr><td></td><td><input type='submit' value='Add' /></td></tr>
   </table>
   <input type='hidden' name='ainame' value='{{ai.ai_name|e}}' />
   <input type='hidden' name='aiversion' value='{{ai.ai_version|e}}' />
   </form>
{% endif %}

{% endblock %}

