{% extends 'menu.html' %}

{% block title %}AILadder - Match requests{% endblock title %}
{% block content %}
<table padding='3'>
<tr class='tablehead'>
<td>matchrequestid</td>
<td>ai0name</td>
<td>ai0version</td>
<td>ai1name</td>
<td>ai1version</td>
<td>mapname</td>
<td>modname</td>
<td>options</td>
</tr>

{% for request in requests %}
   <tr>
   <td>{{request.matchrequest_id}}</td>
   <td>{{request['ais'][0].ai_name|e}}</td>
   <td>{{request['ais'][0].ai_version|e}}</td>
   <td>{{request['ais'][1].ai_name|e}}</td>
   <td>{{request['ais'][1].ai_version|e}}</td>
   <td>{{request.map_name|e}}</td>
   <td>{{request.mod_name|e}}</td>
   <td>
   {% for option in request.options %}
      {{option|e}}&nbsp;
   {% endfor %}
   &nbsp;</td>
   </tr>

{% endfor %}

</table>

{% endblock %}

