{% extends 'menu.html' %}

{% block title %}AI Ladder - Match results{% endblock title %}
{% block content %}

<table>
<tr class='tablehead'>
<td>matchrequestid</td>
<td>ai0name</td>
<td>ai0version</td>
<td>ai1name</td>
<td>ai1version</td>
<td>mapname</td>
<td>modname</td>
<td>options</td>
<td>botrunnername</td>
<td>result</td>
<td>infolog</td>
<td>replay</td>
</tr>

{% for result in results %}
   <tr {% if loop.even %}class="alt"{% endif %}>
   <td>{{result.matchrequest_id}}</td>
   <td {% if result.matchresult == 'ai0won' %}class='success'{% endif %}>{{result.ais[0].ai_name|e}}</td>
   <td {% if result.matchresult == 'ai0won' %}class='success'{% endif %}>{{result.ais[0].ai_version|e}}</td>
   <td {% if result.matchresult == 'ai1won' %}class='success'{% endif %}>{{result.ais[1].ai_name|e}}</td>
   <td {% if result.matchresult == 'ai1won' %}class='success'{% endif %}>{{result.ais[1].ai_version|e}}</td>
   <td>{{result.map_name|e}}</td>
   <td>{{result.mod_name|e}}</td>
   <td>
   {% for option in result.options %}
      {{option|e}}&nbsp;
   {% endfor %}
   &nbsp;
   </td>
   <td>{{result.botrunner_name|e}}</td>
   <td {% if result.matchresult == 'crashed' %}class='fail'{% else %}{% endif %}>{{result.matchresult|e}}</td>
   <td>
   {% if result.infologrelativeurl is defined %}
      <a href='{{springgridurl}}/{{result.infologrelativeurl|e}}'>infolog</a>
   {% endif %}
   </td>
   <td>
   {% if result.replayrelativeurl is defined %}
      <a href='{{springgridurl}}/{{result.replayrelativeurl|e}}'>replay</a>
   {% endif %}
   </td>
   </tr>
{% endfor %}

</table>

{% endblock %}

